.game-history::-webkit-scrollbar {
	display: none;
}

div.game-history {
	margin-top: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #515256;
	border-radius: 10px;
	padding: 0px;
	padding-bottom: 10px;
	max-height: 400px;
	overflow-y: scroll;
	flex-direction: column;
}

.game-history p {
	font-weight: bold;
	background-color: #515256;
	padding: 10px;
	margin: 0px;
	width: 100%;
}
