.image {
	aspect-ratio: 1 / 1;
	width: 300px;
	padding: 10px;
	object-fit: cover;
}

.relative-profile-pic {
	position: relative;
	width: 300px;
	height: 300px;
	min-width: 300px;
	min-height: 300px;
}

.absolute-profile-pic {
	position: absolute;
	border: solid #666 2px;
	border-radius: 50%;
	top: 20px;
	right: 50px;
	width: 30px;
	height: 30px;
}
