div.panel-heading div.panel-control div.btn-group .super-tooltip {
	background-color: #ff7c14;
	z-index: 2;
	color: #252c38;
	font-size: smaller;
}

.user-list::-webkit-scrollbar {
    display: none;
}
