html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;
}

@font-face {
  font-family: blox;
  src: url(../public/Blox2.ttf);
}

.App {
  padding-left: 44px;
  text-align: center;
  padding-top: 40px;
  background-color: #26292e;
  height: 100vh;
  color: white;
  overflow: auto;
  font-size: 1.8rem;
  /* overflow: none */
}
